
/* استيراد خطوط Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');


/* img */
@keyframes rotateImage {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
} 


/* تنسيق عام */
body {
    font-family: 'Poppins', sans-serif;
    color: #ffffff;
    text-align: center;
    direction: rtl;
    overflow-x: hidden;
    background: linear-gradient(135deg, #5f005f, #1a1819);
    background: radial-gradient(circle at 60% 30%, #4e014e, transparent 30%),
            linear-gradient(70deg, #2e0224, #701670);
    
}

/* إخفاء العناصر عند التحميل */
body > * {
    opacity: 0;
    transform: translateY(20px);
    animation: fadeIn 0.4s ease-in-out forwards;
}

/* إخفاء كل العناصر في الصفحة مبدئيًا */
body *:not(.members):not(.members *) {
    opacity: 0;
    transform: translateY(30px);
    transition: opacity 0.4s ease-out, transform 0.4s ease-out;
}

/* عندما يصبح العنصر مرئيًا، يظهر بسلاسة */
.show {
    opacity: 1 !important;
    transform: translateY(0) !important;
}

/* تعريف حركة الظهور التدريجي */
@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes gradientAnimation {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}
/* تنسيق الهيدر */

/* تنسيق الهيدر */
header {
    direction: ltr;
    display: flex;   
    justify-content: space-between;
    align-items: center; 
    padding: 5px 5px;
    overflow: auto;
    min-height: 80px;
    background: rgba(199, 59, 187, 0.9); 
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
   
    
}

.logo {
    font-size: 1.8em;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding-left: 25px;
    align-items: center; /* محاذاة الصورة والنص في المنتصف عموديًا */
    display: flex; /* استخدام flexbox لضبط الصورة والنص بجانب بعض */
   
}


nav ul {
    list-style: none;
    display: flex;
    gap: 25px;
    padding: 0;
    margin: 0;
    flex-wrap: wrap;
    justify-content: space-evenly;
    flex-grow: 1;
    padding-right: 15px;
}


nav a {
    color: white;
    text-decoration: none;
    font-weight: 500;
    transition: color 0.3s ease-in-out;
    font-size: 1.3em;
    white-space: nowrap;
}

nav a:hover {
    color: #ffd700;
    transform: scale(1.1);
    transition: all 0.3s ease-in-out;
}


#particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1; /* ضع التأثير خلف النص */
}


.home-image {
    position: relative;  /* تحديد موقع الصورة بالنسبة للمحتوى */
    top: 40;  /* إلغاء المسافة من الأعلى أو يمكن تعديلها بما يناسب */
    height: auto; /* الحفاظ على نسب الصورة */
    object-fit: contain; /* التأكد من أن الصورة لن تشوه */
    width: 65%; /* عرض الصورة يتناسب مع عرض الحاوية */

    margin-top: 80px; 
    object-fit: contain;
}


.hero-video {
    position: relative;  /* تحديد موقع الفيديو بالنسبة للمحتوى */
    top: 2px;  /* مسافة من الأعلى */
    width: 50%; /* عرض الصورة يتناسب مع عرض الحاوية */
    height: 350px;
    border: 10px solid rgba(255, 255, 255, 0.9); 
    border-radius: 20px; /* يجعل الزوايا مستديرة */
  
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); /* إضافة ظل خفيف */
}


.hero-image {
    top: 1px; 
    width: 90px; 
    height: auto; /* الحفاظ على نسب الصورة */
    object-fit: contain; /* التأكد من أن الصورة لن تشوه */
    margin-right: 10px; /* ترك مسافة بين الصورة والنص */
    animation: rotateImage 2s ease-in-out 2; 
}

.logo-image {
    width: 80px; 
    height: auto; 
    object-fit: contain; 
    margin-right: 10px; 
    animation: rotateImage 2s ease-in-out 1; 
    object-fit: contain; /* التأكد من أن الصورة لن تشوه */
}

.hero {
    padding: 50px 20px;
    display: flex;
    flex-direction: column;
    justify-content:  center;
    align-items: center;
    text-align: center;
    position: relative;
}

.hero h2 {
    color: #ffffff; 
    text-shadow: 1px 1px 2px rgba(0,0,0,0.1); 
    margin: 10px 0; /* تباعد أكبر بين العناوين */
}

.hero i {
    font-size: 6em;  /* حجم الأيقونة كبير */
    color: #ffd700;  /* اللون الذهبي */
    animation: rotateIcon 5s infinite;  /* حركة التدوير المستمرة */
}

@keyframes rotateIcon {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(180deg);
    }
    100% {
        transform: rotate(360deg);
    }
}


.hero h1 {
    font-size: 3em;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-bottom: 5px;
}

.hero p {
    font-size: 1.4em;
    line-height: 1.6;
}

/* about تنسيق المستطيل الخاص بالأسئلة */
.question {
    background-color: #751679;
    padding: 20px;
    margin-bottom: 15px;
    cursor: pointer;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #ccc;
    font-size: 25px;
    align-items: center; /* توسيط النص عموديًا باستخدام flexbox */

    width: 1100px; /* تحديد عرض البوكس حسب رغبتك */
    margin: 0 auto; /* توسيط البوكس بشكل كامل في الصفحة */
  }
  
  /* تنسيق الإجابة التي تظهر أو تختفي */
  .answer {
    display: none;
    padding: 20px;
    background: rgba(255, 255, 255, 0.9);
    border-left: 2px solid #ccc;
    margin-top: 5px;
    border-radius: 5px;
    font-size: 25px;
    color: #4b0082;
    width: 1100px; /* تحديد عرض البوكس حسب رغبتك */
    margin: 0 auto;  /* توسيط البوكس بشكل كامل في الصفحة */
  }
  .answer ul {
    list-style-position: inside;
    padding-right: 10px; /* اضبط المسافة بين النص والنقاط */
    text-align: right; /* لتوسيط النص إلى اليمين */
}

  /* تنسيق رمز الزائد */
.plus-sign {
    font-size: 30px;
  }

/* قسم الأعضاء */

.member {
    background: rgba(255, 255, 255, 0.9);
    color: #4b0082;
    padding: 20px;
    border-radius: 15px;
    font-weight: bold;
    transition: transform 0.3s, box-shadow 0.3s ease;
    width: 500px;
    margin: 5px;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
}


.member img {
    width: 70%;  
    height: auto; /* الحفاظ على نسبة الأبعاد الأصلية */
    object-fit: contain; /* التأكد من أن الصورة لا تتشوه */
    
}

.member:hover {
    transform: scale(1.05) !important; 
    box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.2);
}



.project:hover {
    transform: scale(1.05) !important; 
    box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.2);
}

.projects {
    margin-top: 30px; 
    padding: 60px 20px;
    text-align: center;
   
}

.project-grid {
   
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 100px 150px;  /* إضافة المسافة بين الأعمدة والصفوف */
    width: 900px;
    margin: 0 auto;
}

.project {
   
    background: rgba(255, 255, 255, 0.9);
    color: #4b0275;
    padding: 20px;
    border-radius: 15px;
    font-weight: bold;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;

    transition: transform 0.3s, box-shadow 0.3s ease;
}
 
.project-img {
    width: 100%;
    border-radius: 10px;
    transition: opacity 1s ease-in-out;
    height: auto; 
    object-fit: contain; /* التأكد من أن الصورة لن تشوه */
   
}  

/* الفوتر */
footer {
   
    padding: 20px;
    margin-top: 20px;
    color: white;
    font-size: 1.1em;
    text-align: center;
}

/* أيقونات متحركة */
@keyframes bounce {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
}

nav a:hover {
    animation: bounce 0.5s ease-in-out;
}


/* تنسيق عام لجميع الروابط */
a {
    color:#00aaff; /* لون الرابط */
    font-size: 18px; /* حجم الخط */
    text-decoration:underline ; /* إزالة الخط السفلي */
    font-weight: bold; /* جعل النص سميكًا */
    transition: 0.3s ease-in-out; /* تأثير ناعم عند تغيير الحالة */
}

/* تغيير اللون عند مرور الماوس */
a:hover {
    color: #8b0ec0;
    text-decoration: underline; /* إضافة خط عند التمرير */
}

/* تغيير اللون عند النقر */
a:active {
    color: red;
}

/* لون مختلف للروابط التي زارها المستخدم */
a:visited {
    color: #6A5ACD;
} 

.hero, .about, .projects {
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2); /* ظلال خفيفة */
    border-radius: 10px; /* زوايا مدورة */
    margin: 20px 0; /* تباعد بين الأقسام */
}

.social-icons a {
    color: white !important; /* لون أبيض */
    font-size: 35px;
    margin: 0 10px;
    transition: color 0.3s ease-in-out;
}

.social-icons a:hover {
    color: #f0f0f0 !important; /* لون أفتح عند التمرير */
}

.slide:hover {
    transform: scale(1.1); /* تكبير الصورة */
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2); /* إضافة ظل */
}

/* تعديل الصورة على الشاشات الصغيرة */
@media (max-width: 768px) {
    .member img {
        width: 80%;  /* تقليل الحجم ليكون 80% من عرض الشاشة */
        height: auto; /* الحفاظ على تناسب الأبعاد */
        max-width: 300px; /* منع الصورة من أن تصبح كبيرة جدًا */
    }
}

@media (max-width: 480px) {
    .member img {
        width: 90%; /* جعل الصورة تمتد أكثر على الشاشات الصغيرة */
        max-width: 250px; /* تقليل الحجم لأجهزة الهواتف الصغيرة */
    }
}


  

